/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0.01; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0.01; }
  100% {
    opacity: 1; } }

._blur {
  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out; }

._container {
  max-width: 1160px !important;
  margin: 0 auto !important; }

._hidden {
  display: none; }

@media (max-width: 735px) {
  .active-color-selector {
    text-align: center;
    margin: 0 auto; } }

.active-color-selector .title {
  font-weight: bold; }

.active-color-selector .dropdown {
  padding: 4px 4px;
  border: 1px solid grey;
  border-radius: 3px;
  cursor: pointer; }

.active-color-selector .dropdown option[value="red"] {
  background-color: red;
  color: #fff; }

.active-color-selector .dropdown option[value="blue"] {
  background-color: blue;
  color: #fff; }

.active-color-selector .dropdown option[value="yellow"] {
  background-color: yellow;
  color: #151515; }

.active-color-selector .dropdown option[value="green"] {
  background-color: green;
  color: #fff; }

.active-color-selector .dropdown option[value="grey"] {
  background-color: grey;
  color: #fff; }

.calendars-selector {
  margin-top: 17px; }
  @media (max-width: 1200px) {
    .calendars-selector {
      padding-left: 25px;
      padding-right: 25px; } }
  .calendars-selector .section-month {
    margin: 0 31px 31px 0; }
    @media (max-width: 735px) {
      .calendars-selector .section-month {
        margin: 15px; } }
  .calendars-selector .flexwrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .calendars-selector .addmonth {
    margin: 0 6px; }

.color-selector-layout {
  font-family: "Arial", sans-serif;
  padding: 13px 0; }
  @media (max-width: 1200px) {
    .color-selector-layout {
      padding-left: 25px;
      padding-right: 25px; } }
  .color-selector-layout .flexwrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .color-selector-layout .title {
    margin-bottom: 5px; }

.main-page {
  font-family: "Roboto Condensed", sans-serif; }
  .main-page .popup-window {
    width: 300px; }
  .main-page .-show {
    display: block;
    -webkit-animation: fade-in .5s ease forwards;
            animation: fade-in .5s ease forwards; }
  .main-page .-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }

.month-selector {
  text-align: center; }
  .month-selector .title {
    display: inline-block;
    font-size: 30px;
    margin: 0;
    padding-bottom: 5px; }
  .month-selector .addmonth {
    display: none;
    font-size: 30px;
    color: #8dadb0; }
    .month-selector .addmonth:hover {
      color: #1a5e68;
      cursor: pointer; }
  .month-selector:hover .addmonth {
    display: inline-block; }

.normal-button {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  background-color: #d91e59;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 18px;
  padding: 5px 9px; }
  .normal-button:hover {
    background-color: #ba1a4c; }

.popup-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.4);
  z-index: 500;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out; }

.popup-window {
  display: none;
  -webkit-box-shadow: 0px 5px 40px 10px #c7c7c7;
          box-shadow: 0px 5px 40px 10px #c7c7c7;
  background-color: #fdf0d2;
  text-align: center;
  border-radius: 3px;
  z-index: 501;
  opacity: .5; }
  .popup-window .title {
    font-weight: 100;
    font-size: 25px;
    line-height: 1.80;
    margin-top: 27px;
    margin-bottom: 16px; }
  .popup-window .text {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 0; }
  .popup-window .linkplace {
    margin: 10px 20px;
    padding: 5px 0;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #c7c7c7;
    -webkit-box-shadow: 0px 1px 0px 0px #c7c7c7 inset;
            box-shadow: 0px 1px 0px 0px #c7c7c7 inset;
    font-family: "Arial", sans-serif; }
  .popup-window .normal-button {
    margin: 20px 0 30px 0;
    padding: 5px 40px;
    border-radius: 5px;
    font-size: 20px; }

.section-month .calendar {
  border: 1px solid #385251;
  border-radius: 10px;
  text-align: center;
  padding: 10px 10px 0px 10px;
  font-family: "Arial", sans-serif; }
  .section-month .calendar .nextmonth {
    color: #b3b1b4; }

.section-month .daysofweek {
  color: #b3b1b4; }
  .section-month .daysofweek:last-child {
    color: #d66a77; }

.section-month .days {
  color: #4d4b4e; }
  .section-month .days .day {
    cursor: pointer;
    padding: 13px 7px; }
    .section-month .days .day:hover {
      background-color: #fdf0d2; }
    .section-month .days .day:last-child {
      color: #d66a77; }

.site-header {
  background-color: #fdf0d2;
  color: #1c5b60; }
  @media (max-width: 1200px) {
    .site-header {
      padding-left: 25px;
      padding-right: 25px; } }
  .site-header .flexwrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    padding: 20px 0 20px 0; }
    @media (max-width: 735px) {
      .site-header .flexwrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .site-header .flexwrapper .logo {
      margin-right: 20px; }
      @media (max-width: 735px) {
        .site-header .flexwrapper .logo {
          height: 60px;
          margin-right: 0; } }
      .site-header .flexwrapper .logo .logotype {
        height: 100px; }
        @media (max-width: 735px) {
          .site-header .flexwrapper .logo .logotype {
            height: 100%; } }
    .site-header .flexwrapper .share-project {
      margin-left: auto;
      text-align: center;
      height: 55px; }
      @media (max-width: 735px) {
        .site-header .flexwrapper .share-project {
          margin: 25px 0 0 0; } }
      .site-header .flexwrapper .share-project .normal-button {
        margin-bottom: 9px; }
  .site-header .title {
    margin-top: 20px;
    margin-bottom: 0; }
    @media (max-width: 735px) {
      .site-header .title {
        text-align: center; } }
  .site-header .slogan {
    margin-top: 0;
    margin-bottom: 20px; }
    @media (max-width: 735px) {
      .site-header .slogan {
        text-align: center; } }
